venv
test.pdf
out.pdf
.idea
test.doc
1_xxVeronicaAbara_BurialProgramme.pdf
VeronicaAbara_BurialProgramme.pdf
.DS_Store
ifac20_slides.pdf
ifac20_slides_resized.pdf
testdoc.pdf
testdoc2.pdf
testdoc3.pdf
